<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".login.presentation.LoginActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />

    </application>

</manifest>